body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
}

.login-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 120px;
    margin: 0 auto 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0f62fe;
}

.link {
    color: #1a73e8;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.alert{ float:left;padding-right:5px}
.error-container {
	clear:both;
    max-width: 400px;
    width: 100%;
    color:rgb(217,48,37);
    font-size:12px;
}
.red input { border-color:rgb(217,48,37); }
.error-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon {
    width: 80px;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

form#forgot {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.msg {
	max-width: 400px;
    margin: 0 auto;
    padding: 20px;

}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0f62fe;
}

